---
import Layout from "../layouts/Layout.astro";
---

<Layout title="main">
	<main>

		<div class="grid grid-cols-2 gap-2">
			<div class="h-10 bg-red-400">
				<h1 class="text-2xl">asd</h1>
			</div>
			<div>
				<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Porro dolore rerum totam ad reiciendis,
					obcaecati cumque quas deserunt consequuntur. Vitae quibusdam tempora repellat.</p>
			</div>
		</div>

	</main>

</Layout>